.joatpotv-title {
  video {
    width: 500px;
    height: auto;
  }
  h1 {
    margin: 0;
    margin-top: -5px;
  }
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 10px 10px 35px -7px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 10px 10px 35px -7px rgba(0, 0, 0, 0.62);
  box-shadow: 10px 10px 35px -7px rgba(0, 0, 0, 0.089);
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.joatpotv-info {
  p {
    font-size: 12px;
    margin: 0;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.joatpotv-contents {
  display: flex;
}

.joatpotv-main {
  flex: 1;
}

.joatpotv-schedule {
  width: 200px;
  border: 1px solid rgba(0, 0, 0, 0.226);
  border-radius: 10px;
}

.joatpotv-schedule-title {
  h3 {
    margin: 0;
    font-size: 12px;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.226);
}

.joatpotv-schedule-alert {
  svg {
    width: 15px;
    cursor: pointer;
    margin-bottom: -2px;
  }
  position: relative;
}

.joatpotv-schedule-alert:hover {
  .joatpotv-schedule-alert-contents {
    display: block;
  }
}

.joatpotv-schedule-alert-contents {
  p {
    font-size: 8px;
    margin: 0;
  }
  display: none;
  width: 140px;
  background-color: rgb(249, 249, 255);
  border: 1px solid rgba(0, 0, 0, 0.226);
  padding: 10px;
  position: absolute;
  border-radius: 5px;
}

.joatpotv-schedule-body {
  p {
    font-size: 12px;
    margin-left: 5px;
  }
}

.joatpotv-schedule-item {
  display: flex;
}

.joatpotv-bedge {
  p {
    margin: 0;
    font-size: 8px;
    padding: 3px 5px;
    border-radius: 5px;
    margin-left: 10px;
  }
  display: flex;
  justify-content: center;
  align-items: center;
}

.bedge-soccer {
  p {
    color: rgb(34, 160, 76);
    border: 1px solid rgb(34, 160, 76);
  }
}

.bedge-baseball {
  p {
    color: rgb(255, 113, 57);
    border: 1px solid rgb(255, 113, 57);
  }
}
